@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: 'Poppins', sans-serif;
}
.landing-header{
    background-image: url(../src/assests/landingPage/header-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.landingPageTotcDiv1{
    background-image: url(/src/assests/landingPage/landing-totc-img1.svg);
    background-size: cover;
}
.landingPageTotcDiv2{
    background-image: url(/src/assests/landingPage/landing-totc-img2.svg);
    background-size: cover;
}
.course-section{
    background-image: linear-gradient(to right, #EBF5FF 80%, transparent 80%);
  background-size: 100% 100%;
}